body {
  background-color: $background;
}

div {
  color: $textColor;
}

h2 {
  @extend div;
  text-align: center;
  cursor: default;
}

img {
  height: 1.5em;
}

.openNow {
  text-align: right;
}

.row {
  cursor: pointer;
}
